<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USERS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  {% include 'menu.html.twig' %}
  {% block content %}{% endblock %}

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="../node_modules/jquery-form/dist/jquery.form.min.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>