<nav class="navigation navbar navbar-expand-lg navbar-light bg-light">
  <div class="brand">
    <a href="/">Users</a>
  </div>
  <div class="menu container">
    <ul class="">
      <li class=""><a class="nav-link" href="/register">Register</a></li>
      {% if session.user %}
          <li class="">
            <a href="#" id="openSubmenuBtn" class="open-submenu-btn"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <ul class="submenu none">
              <li class="submenu-list-item">
                <a class="" href="/user">Profile</a>
              </li>
              <li class="submenu-list-item">
                <a class="" href="/logout">Logout</a>
              </li>
            </ul>
          </li>
      {% else %}
        <li class=""><a class="nav-link" href="/user" id="loginBtn">Login</a></li>
      {% endif %}
      <li class="nav-item">
        <form action="/search" method="get" class="form-inline my-2 my-lg-0">
          <input type="text" name="search" id="search" class="form-control mr-sm-2" placeholder="Search">
          <input type="submit" name="submitSearch" id="searchBtn" value="Search" class="btn btn-outline-success my-2 my-sm-0">
        </form>
      </li>
    </ul>
  </div>
</nav>